/* BODY */
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1.5% 4%;
    position: sticky;
}

/* LOGO */
.logo img {
    max-height: 6rem;
}

/* NAVIGATION */
nav ul {
    display: flex;
    justify-content: center;
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 6%;
}

nav ul li {
    margin: 0;
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poiret One', sans-serif;
    font-size: 1.2vw;
}

nav ul li a[href="#mixtape"] {
    color: #E7010A;
    font-weight: bold;
}

/* SOCIAL ICONS */
.social-icons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10%;
    justify-items: center;
}

.social-icons a {
    display: inline-block;
    width: 2.6vw;
    height: 2.6vw;
}

.social-icons img {
    width: 100%;
    height: auto;
}

/* MAIN */
main {
    padding: 2% 5%;
    color: #E7010A;
}

/* MIXTAPE */
h1,
h2 {
    text-align: center;
    margin-bottom: 4%;
    font-weight: bold;
    font-size: 1.7rem;
}

.mixtape-gallery {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 2%;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.mixtape-gallery2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2%;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.mixtape-cardm {
    display: flex;
    justify-content: center;
    height: 18rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.mixtape-card {
    background-color: #1a1a1a;
    overflow: hidden;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mixtape-card iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* CONTACT */
div.contact {
    text-align: center;
    margin-top: 5%;
}

div.contact a {
    text-decoration: none;
    color: #E7010A;
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    padding: 4rem 5%;
    text-align: center;
}

div.footer-content {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    grid-template-columns: 1fr;
    gap: 2%;
    font-size: small;
}

div.footer-content a {
    text-decoration: none;
    color: white;
}

/* RESPONSIV */
@media (max-width: 1024px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo img {
        max-height: 8rem;
        width: auto;
    }

    .mixtape-gallery,
    .mixtape-gallery2,
    .mixtape-gallery-millesime {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .mixtape-card {
        height: auto;
    }

    .mixtape-cardm {
        height: auto;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        padding: 1rem;
        display: block;
    }

    .social-icons {
        display: none;
    }

    /* HAMBURGER MENU */
    .hamburger-menu {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 24px;
        width: 30px;
    }

    .hamburger-menu .bar {
        background-color: white;
        height: 4px;
        width: 30px;
    }

    div.footer-content {
        display: grid;
        justify-items: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        grid-template-columns: 1fr;
        gap: 2%;
        text-align: center;
    }
}
